<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cs5300_p1b</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Project1bServlet</display-name>
    <servlet-name>Project1bServlet</servlet-name>
    <servlet-class>edu.cornell.cs5300.project1b.servlet.Project1bServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Project1bServlet</servlet-name>
    <url-pattern>/Project1bServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>edu.cornell.cs5300.project1b.servlet.Config</listener-class>
  </listener>
</web-app>